*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 38, 161);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.piano-keyboard {
  display: flex;
}

.piano-key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.piano-key-white {
  --width: 75px;
  border: 1px solid rgb(32, 32, 32);
  background-color: white;
}

.piano-key-black {
  --width: 50px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 20;
}
